section .row{
    margin-bottom: 10px;
    background: #d5ebff;
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    border-radius: 5px;
    display: flex;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: space-between;
}
section .row i{
    color: #10518E;
    font-size: 25px;
}

section .details span{
    font-size: 12px;
}

.loading-area .row .content{
    width: 100%;
    margin-left: 15px;
}

.loading-area .details{
    display: flex;
    align-items: center;
    margin-bottom: 7px;
    justify-content: space-between;
}


@keyframes blink {
    0% {
      opacity: 1;
      transform: scale(1);
    }
    50% {
      opacity: 0.5;
      transform: scale(1.05);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  .blink-animation {
    animation: blink 0.5s infinite;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
  